In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_dataset_with_target.csv', index_col=0)

df.head()

,vendor_id,pickup_datetime,passenger_count,store_and_fwd_flag,trip_duration,distance_km
id,,,,,,
id2875421,1,2016-03-14 17:24:55,930.399753,0,455.0,1.500479
id2377394,0,2016-06-12 00:43:35,930.399753,0,663.0,1.807119
id3858529,1,2016-01-19 11:35:24,930.399753,0,2124.0,6.392080
id3504673,1,2016-04-06 19:32:31,930.399753,0,429.0,1.487155
id2181028,1,2016-03-26 13:30:55,930.399753,0,435.0,1.189925

In [3]:
X = df.drop(['trip_duration', 'pickup_datetime', 'passenger_count', 'store_and_fwd_flag'], axis=1)
Y = df['trip_duration']

X.head()

           vendor_id  distance_km
id
id2875421          1     1.500479
id2377394          0     1.807119
id3858529          1     6.392080
id3504673          1     1.487155
id2181028          1     1.189925

In [4]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X.values, Y)

LinearRegression()

In [5]:
for column, coef in zip(X.columns, model.coef_):
    print(column, round(coef, 3))
    
print(round(model.intercept_, 3))

vendor_id 205.146
distance_km 115.348
452.448

In [6]:
features = [[
        1,    #vendor_id
        2.5   #distance_km
    ]]

prediction = model.predict(features).tolist()[0]

In [7]:
prediction

945.9629816004764

In [8]:
import joblib
joblib.dump(model, "./model.joblib")

['./model.joblib']